name: Docker Image CI
on:
  push:
    branches:
      - master
    paths:
      - 'DockerFile'
  pull_request:
    paths:
      - 'DockerFile'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag ${{ github.repository }}:$(date +%s)
