name: "deploy vim help to gh-pages"
on:
  push:
    branches:
      - master
permissions:
  contents: write

jobs:
  ghpages:
    name: Convert and deploy vim help
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Generate html
        uses: tsuyoshicho/action-vimhelp-html-generate@master
        env:
          FOLDER: build
      - name: Deploy gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
